<div class="page-container">
  <!-- Sidebar -->
  <div class="sidebar">
    <button class="button"><span id="button_bold">+ Create Now</span></button>
    <p class="text_manager">Content Manager</p>
    <div>
      <!-- Documents -->
      <button class="accordion1"><img style="width: 19px; height: 19px; margin-right: 10px; margin-top: -3px;"
          src="./../../../assets/icons/document.svg">
        <div class="div-arrow">
          <span>Documents</span>
          <img src="./../../../assets/icons/right-arrow.svg" class="right-arrow">
        </div>
      </button>
      <div class="panel">
        <p class="accordion" style="color: white;">
          <img style="width: 16px; height: 16px; margin-right: 10px;" src="./../../../assets/icons/folder.svg">
          Legal
        </p>
        <p style="color: white;" class="accordion">
          <img style="width: 16px; height: 16px; margin-right: 10px;" src="./../../../assets/icons/folder.svg">
          Documents
        </p>
        <div class="panel2">
          <p class="text_double_accordion">
            <img style="width: 16px; height: 16px; margin-right: 10px;" src="./../../../assets/icons/comment.svg">
            Draft 1
          </p>
          <p class="text_double_accordion">
            <img style="width: 16px; height: 16px; margin-right: 10px;" src="./../../../assets/icons/comment.svg">
            Draft 2
          </p>
          <p class="text_double_accordion">
            <img style="width: 16px; height: 16px; margin-right: 10px;" src="./../../../assets/icons/comment.svg">
            Draft 3
          </p>
        </div>
        <p style="color: white; cursor: pointer;" class="accordion">
          <img style="width: 16px; height: 16px; margin-right: 10px;" src="./../../../assets/icons/folder.svg">
          Terms And Conditions
        </p>
      </div>
      <hr class="hr">
      <!-- Media -->
      <button class="accordion1" style="margin-top: 15px;">
        <img style="width: 19px; height: 19px; margin-right: 10px; margin-top: -3px;"
          src="./../../../assets/icons/photo-camera.svg">
        <div class="div-arrow">
          <span>Media</span>
          <img src="./../../../assets/icons/right-arrow.svg" class="right-arrow">
        </div>
      </button>
      <div class="panel">
        <p class="text">Media 1</p>
        <p class="text">Media 2</p>
        <p class="text">Media 3</p>
      </div>
      <hr class="hr">
      <!-- Trash -->
      <button class="accordion1" style="margin-top: 15px;">
        <img style="width: 16px; height: 16px; margin-right: 10px;" src="./../../../assets/icons/delete.svg">
        <div class="div-arrow">
          <span>Trash</span>
          <img src="./../../../assets/icons/right-arrow.svg" class="right-arrow">
        </div>
      </button>
      <div class="panel">
        <p class="text">Trash 1</p>
        <p class="text">Trash 2</p>
        <p class="text">Trash 3</p>
      </div>
      <hr class="hr">
      <!-- Templates -->
      <button class="accordion1" style="margin-top: 15px;">
        <img style="width: 16px; height: 16px; margin-right: 10px;" src="./../../../assets/icons/layout.svg">
        <div class="div-arrow">
          <span>Templates</span>
          <img src="./../../../assets/icons/right-arrow.svg" class="right-arrow">
        </div>
      </button>
      <div class="panel">
        <p class="text">Templates 1</p>
        <p class="text">Templates 2</p>
        <p class="text">Templates 3</p>
      </div>
      <hr class="hr">
      <!-- Variable Sets -->
      <button class="accordion1" style="margin-top: 15px; display: flex;">
        <img style="width: 19px; height: 19px; margin-right: 10px; margin-top: -3px;"
          src="./../../../assets/icons/formula.svg">
        <div class="div-arrow">
          <span style="display: flex;">
            Variable Sets
          </span>
          <img src="./../../../assets/icons/right-arrow.svg" class="right-arrow">
        </div>
      </button>
      <div class="panel">
        <p class="text">Variable Sets 1</p>
        <p class="text">Variable Sets 2</p>
        <p class="text">Variable Sets 3</p>
      </div>
      <hr class="hr">
      <!-- Taxonomies -->
      <button class="accordion1" style="margin-top: 15px;">
        <img style="width: 19px; height: 19px; margin-right: 10px; margin-top: -3px;"
          src="./../../../assets/icons/taxonomy.svg">
        <div class="div-arrow">
          <span>Taxonomies</span>
          <img src="./../../../assets/icons/right-arrow.svg" class="right-arrow">
        </div>
      </button>
      <div class="panel">
        <p class="text">Taxonomies 1</p>
        <p class="text">Taxonomies 2</p>
        <p class="text">Taxonomies 3</p>
      </div>
      <p class="text_bottom">
        <img style="width: 12px; height: 12px;" src="./../../../assets/icons/blue-circle.svg">
        Title One
      </p>
      <p class="text_bottom">
        <img style="width: 12px; height: 12px;" src="./../../../assets/icons/green-circle.svg">
        Title Two
      </p>
      <p class="text_bottom">
        <img style="width: 12px; height: 12px;" src="./../../../assets/icons/pink-circle.svg">
        Title
      </p>
      <p class="text_bottom">
        <img style="width: 12px; height: 12px;" src="./../../../assets/icons/violet-circle.svg">
        Three
      </p>
      <p style="margin-left: 32px;" class="text_bottom">Four</p>
    </div>
  </div>
  <!-- Header -->
  <div class="header">
    <div class="circle">
      <span style="display: flex; height: 26px; align-items: center; cursor: pointer;"> <img
          src="./../../../assets/icons/black-triangular-arrowhead-pointing-to-left-direction1.svg"
          style="height: 10px; width: 10px; display: flex; margin-right: 3px; margin-top: 1px;"></span>
    </div>
    <div class="image">
      <img src="./../../../assets/icons/paligo.png"
        style="height: 30px; width: 100px; display: flex; margin-left: 19%;">
    </div>
    <a class="link-header" href="/"><span id="header">Dashboard</span></a>
    <div style="margin: 14px;"></div>
    <a class="link-header" href="#"><span id="header">Planner</span></a>
    <div style="margin: 14px;"></div>
    <a class="link-header" href="#"><span id="header">Layout</span></a>
    <div style="margin: 14px;"></div>
    <div class="divHelp"
      style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 10px; margin-top: 1.5px;">
      <p class="help">Help
        <img src="./../../../assets/icons/arrow-down-sign-to-navigate.svg"
          style="width: 16px; height: 13px; display: flex; margin-left: 3px; margin-top: 2px;">
      </p>
      <div class="panel3">
        <p class="text_help">Help 1</p>
        <p class="text_help">Help 2</p>
        <p class="text_help">Help 3</p>
      </div>
    </div>
    <div style="margin-left: 22%;"></div>
    <!-- Dot Online -->
    <div class="divOnline">
      <img style="height: 9px; width: 9px;" src="./../../../assets/icons/green-online-circle.svg">
      <span style="color: rgb(1, 255, 1); font-size: 11px; font-weight: bold; margin-left: 5px;">ONLINE</span>
    </div>
    <!-- Avatar -->
    <div class="group-avatar">
      <img src="./../../../assets/avatar/boy-1.svg" class="avatar-image">
      <img src="./../../../assets/avatar/boy.svg" class="avatar-image">
      <img src="./../../../assets/avatar/girl-1.svg" class="avatar-image">
      <img src="./../../../assets/avatar/girl.svg" class="avatar-image">
    </div>
    <!-- Search -->
    <div class="input_container">
      <input type="text" class="input" value placeholder="Search...">
      <img src="./../../../assets/icons/search.svg" class="input_img">
    </div>
    <!-- Single Avatar -->
    <div style="display: flex; justify-content: center; align-items: center;">
      <img src="./../../../assets/avatar/boy-1.svg"
        style="width: 33px; height: 33px; margin-bottom: 1px; margin-left: 11px;">
      <img src="./../../../assets/icons/arrow-down-sign-to-navigate.svg"
        style="width: 16px; height: 13px; display: flex; margin-left: 4px; cursor: pointer">
    </div>
  </div>
</div>

<!-- HomePage -->
<div class="homePage-container">
  <!-- Card Modal -->
  <div style="display: flex;">
    <div class="card__modal">
      <span style="font-size: 14px;">Get Additional Contributor Plus trial licenses for 30 days &nbsp;</span>
      <a class="modal" href="#">Learn how</a>
    </div>
    <div style="display: flex; margin-left: 188px; margin-top: -4px; margin-bottom: 40px;">
      <button class="button_modal"><img src="./../../../assets/icons/bar-chart.svg" style="height: 16px; width: 16px;">
        <span style="margin-left: 8px; font-size: 14px;">View Statistics</span>
      </button>
      <button class="button_modal_publish"><img src="./../../../assets/icons/upload.svg" style="height: 16px; width: 16px;">
        <span style="margin-left: 8px; font-size: 14px;">Batch Publish</span>
      </button>
    </div>
  </div>

  <div style="display: flex; width: 100%;">
    <!-- Activity Feed -->
    <div style="margin-left: 323px; width: 45%;">
      <div style="font-size: 18px; display: flex; justify-content: space-between;">
        <span style="display: flex; align-items: center;">
          Activity Feed
        </span>
        <div style="display: flex; align-items: center;">
          <!-- Loading -->
          <img src="./../../../assets/icons/loading-arrows.svg" style="height: 16px; width: 16px; margin-right: 13px; cursor: pointer;">
          <div style="display: flex; border-radius: 50%; justify-content: center; background-color: #eeecec; width: 28px; height: 28px;" >
            <span style="display: flex; height: 28px; margin-left: 2px; align-items: center; cursor: pointer;">
              <img src="./../../../assets/icons/triangular-black-arrow-pointing-down.svg"
                style="height: 10px; width: 10px; display: flex; margin-right: 3px; margin-top: 1px;">
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- Shared Document -->
    <div style="width: 466px; margin-left: 23px;">
      <div style="font-size: 18px; display: flex; justify-content: space-between;">
        <span style="display: flex; align-items: center;">
          Shared Documents
        </span>
        <div style="display: flex; align-items: center;">
          <!-- Loading -->
          <img src="./../../../assets/icons/loading-arrows.svg" style="height: 16px; width: 16px; margin-right: 13px; cursor: pointer;">
          <div style="display: flex; border-radius: 50%; justify-content: center; background-color: #eeecec; width: 28px; height: 28px;" >
            <span style="display: flex; height: 28px; margin-left: 2px; align-items: center; cursor: pointer;">
              <img src="./../../../assets/icons/triangular-black-arrow-pointing-down.svg"
                style="height: 10px; width: 10px; display: flex; margin-right: 3px; margin-top: 1px;">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
