.page-container {
  display: flex;
  height: 100%;
  color: black;
}

.sidebar {
  height: 100%;
  width: 285px;
  display: table;
  padding: 24px;
  background: #09194C;
  z-index: 1;
}

.right-arrow {
  width: 16px;
  height: 13px;
  margin-left: 100px;
}

.div-arrow {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header {
  display: flex;
  position: relative;
  height: 90px;
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 2px solid #dadddf;
}
.image {
  display: flex;
  align-items: center;
  width: 16%;
}
.text_manager {
  color: #64adf7;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 23px;
  margin-top: 30px;
}

span#header {
  color: #252627;
}

.link-header {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(56, 55, 55);
  margin-left: 4px;
}

.link-header:hover {
  margin-top: 3px;
  border-bottom: 4px solid #017EFA;
  font-weight: bold;
  margin-left: -0.5px;
}

.divHelp:hover {
  border-bottom: 4px solid #017EFA;
  margin-top: 5px !important;
}

li {
  margin-bottom: 10px;
}

.circle {
  border-radius: 50%;
  background-color: #eeecec;
  width: 28px;
  height: 28px;
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-left: -15px;
  cursor: pointer;
  z-index: 2;
}

.avatar-image {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  z-index: 4;
  margin-left: -9px;
}

.avatar-image:hover {
  zoom: 120%;
  z-index: 10;
  margin-left: -13px;
}



.button {
  padding: 10px;
  background-color: #017EFA;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  margin-top: 4px;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;

  }

  .button:hover {
  cursor: pointer;
  background-color: #0660b9;
  }

  .button:focus {
    outline: none;
  }

  .button:active {
  outline: none;
  border: none;
  }


span#button_bold {
  font-weight: bold;
  font-size: 15px;
}

.accordion {
  background: #09194C;
  color: white;
  width: 100%;
  cursor: pointer;
  border: none;
  text-align: left;
  font-size: 14px;
  transition: 0.4s;
  display: flex;
  margin-top: 12px;
}
.accordion:last-child {
  margin-bottom: 19px;
}

.accordion1 {
  background: #09194C;
  color: white;
  width: 100%;
  cursor: pointer;
  border: none;
  text-align: left;
  font-size: 14px;
  transition: 0.4s;
  display: flex;
  margin-bottom: 15px;
}

.accordion1:after {
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: -2px;
  margin-right: 10px;
}

.accordion1:focus, .accordion:focus {
  outline: none;
}

.help {
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: none;
  text-align: left;
  font-size: 15px;
  transition: 0.4s;
  display: flex;
}

.help:after {
  font-weight: bold;
  width: 100%;
  margin-top: -2px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.accordion:first-child {
  margin-top: 5px;
}
.accordion1:first-child {
  margin-top: 5px;
}

.text:last-child {
  margin-bottom: 19px;
}

.accordion1.active:after {
}
.help.active:after {
  margin-left: 10px;
}

.panel {
  padding: 0 27px;
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel3 {
  padding: 0 18px;
  display: flex;
  position: absolute;
  background-color: rgb(241, 235, 224);
  top: 55px;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-top: 11px;
}

.panel3.active {
  margin-top: 100px;
}

.text_help {
  margin-top: 10px;
  cursor: pointer;
}
.text_help:last-child {
  margin-bottom: 10px;
}

.panel2 {
  padding: 0px 26px;
  display: flex;
  flex-direction: column;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
}

.text {
  display: flex;
  color: white;
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}
.text_double_accordion {
  display: flex;
  color: white;
  margin-bottom: 10px;
  font-size: 14px;
}

.text_double_accordion:first-child {
  margin-top: 17px;
}


.text_bottom {
  color: white;
  margin-top: 10px;
  margin-left: 15px;
  cursor: pointer;
  font-size: 14px;
}

.hr {
  border: 0.5px solid #515c68;
  position: relative;
  margin-left: -24px;
  margin-right: -24px;
}

.divOnline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.group-avatar {
  display: flex;
  align-items: center;
}

.input_search {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.input_container {
  position: relative;
  padding: 0 0 0 20px;
  width: 182px;
  display: flex;
  align-items: center;
}
.input {
  height: 30px;
  margin: 0;
  padding-left: 30px;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #cccccc;
}
.input_img {
  position: relative;
  right: 137px;
  bottom: 0.5px;
  width: 14px;
  height: 20px;
}

// HomePage

.homePage-container {
  position: absolute;
  display: flex;
  top: 126px;
  width: 100%;
}

.card__modal {
  background: #DFEDFE;
  display: flex;
  padding: 10px;
  width: 45%;
  margin-left: 323px;
  justify-content: center;
  border-radius: 8px;
}

.modal {
  font-size: 14px;
  color: rgb(0, 162, 255);
}

.button_modal {
  padding: 10px;
  background-color: #6342FF;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  margin-top: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 150px;
  }

  .button_modal:hover {
  cursor: pointer;
  }

  .button_modal:focus {
    outline: none;
  }

  .button:active {
  outline: none;
  border: none;
  }

  .button_modal_publish {
    padding: 10px;
    background-color: #017EFA;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    margin-top: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-left: 21px;
  }
  .button_modal_publish:focus {
    outline: none;
  }

