.master {
  width: 100%;
  height: 100%;
}

.page__container {
  display: flex;
  height: 100%;
  color: black;
}

// Sidebar

.sidebar {
  height: 100%;
  width: 285px;
  display: table;
  padding: 24px;
  background: #09194C;
  z-index: 1;
}

.sidebar__button {
  padding: 10px;
  background-color: #017EFA;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  margin-top: 4px;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;

  &:focus {
    outline: none;
  }
}


.sidebar__span__button {
  font-weight: bold;
  font-size: 15px;
}

.sidebar__text__manager {
  color: #64adf7;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 23px;
  margin-top: 30px;
}

.sidebar__accordion__1 {
  background: #09194C;
  color: white;
  width: 100%;
  cursor: pointer;
  border: none;
  text-align: left;
  font-size: 14px;
  transition: 0.4s;
  display: flex;
  margin-bottom: 15px;
  margin-top: 15px;
}

.sidebar__accordion__1:after {
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: -2px;
  margin-right: 10px;
}

.sidebar__accordion__1:focus, .sidebar__accordion:focus {
  outline: none;
}

.sidebar__accordion__1:first-child {
  margin-top: 5px;
}

.sidebar__img__parent {
  width: 19px;
  height: 19px;
  margin-right: 10px;
  margin-top: -3px;
}

.sidebar__div__arrow {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sidebar__right__arrow {
  width: 16px;
  height: 13px;
  margin-left: 100px;
}

.sidebar__panel {
  padding: 0 27px;
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.sidebar__accordion {
  background: #09194C;
  color: white;
  width: 100%;
  cursor: pointer;
  border: none;
  text-align: left;
  font-size: 14px;
  transition: 0.4s;
  display: flex;
  margin-top: 12px;
}

.sidebar__accordion:last-child {
  margin-bottom: 19px;
}

.sidebar__accordion:first-child {
  margin-top: 5px;
}

.sidebar__img__child {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.sidebar__text__panel:last-child {
  margin-bottom: 19px;
}

.sidebar__text__panel {
  display: flex;
  color: white;
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}

.sidebar__panel__2 {
  padding: 0px 26px;
  display: flex;
  flex-direction: column;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
}

.sidebar__text__panel__2 {
  display: flex;
  color: white;
  margin-bottom: 10px;
  font-size: 14px;
}

.sidebar__text__panel__2:first-child {
  margin-top: 17px;
}

.sidebar__hr {
  border: 0.5px solid #394b7f;
  position: relative;
  margin-left: -24px;
  margin-right: -24px;
}

.sidebar__last__text {
  color: white;
  margin-top: 10px;
  margin-left: 15px;
  cursor: pointer;
  font-size: 14px;
}

.sidebar__img__last__text {
  width: 12px;
  height: 12px;
}


// Header



.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 90px;
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 2px solid #dadddf;
}

.header__close__sidebar {
  border-radius: 50%;
  background-color: #eeecec;
  width: 28px;
  height: 28px;
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-left: -15px;
  cursor: pointer;
  z-index: 2;
  align-items: center;
}

.header__img__close__sidebar {
  height: 10px;
  width: 10px;
  display: flex;
  margin-right: 3px;
}

.header__logo {
  display: flex;
  align-items: center;
  width: 16%;
}

.header__menu {
  height: 30px;
  width: 100px;
  display: flex;
  margin-left: 19%;
}

.header__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(56, 55, 55);
  margin-left: 4px;
}

.header__link:hover {
  margin-top: 3px;
  border-bottom: 4px solid #017EFA;
  font-weight: bold;
  margin-left: -0.5px;
}

.header__item {
  color: #252627;
}

.header__item__help {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-top: 1.5px;
}

.header__item__help:hover {
  border-bottom: 4px solid #017EFA;
  margin-top: 5px !important;
}

.header__label__help {
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: none;
  text-align: left;
  font-size: 15px;
  transition: 0.4s;
  display: flex;
}

.header__label__help:after {
  font-weight: bold;
  width: 100%;
  margin-top: -2px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.header__icon__help {
  width: 16px;
  height: 13px;
  display: flex;
  margin-left: 3px;
  margin-top: 2px;
}

.header__panel__3 {
  padding: 0 18px;
  display: flex;
  position: absolute;
  background-color: #bdc9ed;
  top: 55px;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-top: 11px;
  z-index: 1;
}

.header__panel__3.active {
  margin-top: 100px;
}

.header__label__panel__3 {
  margin-top: 10px;
  cursor: pointer;
}

.header__label__panel__3:last-child {
  margin-bottom: 10px;
}

.header__icon__online {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.header__img__online {
  height: 9px;
  width: 9px;
}

.header__label__icon__online {
  color: rgb(1, 255, 1);
  font-size: 11px;
  font-weight: bold;
  margin-left: 5px;
}

.header__group__avatar {
  display: flex;
  align-items: center;
}

.header__avatar__image {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  z-index: 4;
  margin-left: -9px;
}

.header__avatar__image:hover {
  zoom: 120%;
  z-index: 10;
  margin-left: -13px;
}

.header__input__container {
  position: relative;
  padding: 0 0 0 20px;
  width: 182px;
  display: flex;
  align-items: center;
}

.header__input {
  height: 30px;
  margin: 0;
  padding-left: 30px;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #cccccc;
}


.header__input__img {
  position: relative;
  right: 137px;
  bottom: 0.5px;
  width: 14px;
  height: 20px;
}

.header__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 27px;
}

.header__logo__avatar {
  width: 33px;
  height: 33px;
  margin-bottom: 1px;
  margin-left: 11px;
}

.header__arrow__down__logo__avatar {
  display: flex;
  width: 16px;
  height: 13px;
  margin-left: 4px;
  cursor: pointer
}



// HomePage



.homePage__main {
  position: absolute;
  top: 126px;
  width: 100%;
}

.homePage__container {
  display: flex;
  justify-content: space-between;
  margin-right: 27px;
}

.homePage__card__trial {
  background: #DFEDFE;
  display: flex;
  padding: 10px;
  width: 45%;
  margin-left: 323px;
  justify-content: center;
  border-radius: 8px;
  height: 40px;
  margin-bottom: 40px;
}

.homePage__label__trial {
  font-size: 14px;
}

.homePage__link__trial {
  font-size: 14px;
  color: rgb(0, 162, 255);
}

.homePage__button__container {
  display: flex;
}

.homePage__button__statistics {
  display: flex;
  margin-left: 188px;
  margin-bottom: 40px;
  padding: 10px;
  background-color: #6342FF;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  justify-content: center;
  width: 150px;
  height: 40px;
}
.homePage__button__statistics:focus {
  outline: none;
}

.homePage__button__card__statistics:hover {
  cursor: pointer;
}

.homePage__button__card__statistics:focus {
  outline: none;
}

.homePage__img__button__statistics {
  height: 16px;
  width: 16px;
}

.homePage__label__statistics {
  margin-left: 8px;
  font-size: 14px;
}

.homePage__button__publish {
  display: flex;
  justify-content: center;
  height: 40px;
  background-color: #017EFA;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 10px;
  margin-left: 21px;
  cursor: pointer;
}

.homePage__button__publish:focus {
  outline: none;
}

.homePage__img__button__publish {
  height: 16px;
  width: 16px;
}

.homePage__label__publish {
  margin-left: 8px;
  font-size: 14px;
}

.homePage__main__card {
  display: flex;
  width: 100%;
}

.homePage__card {
  margin-left: 323px;
  width: 63%;
}

.homePage__card__general {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 14px;
}

.homePage__label__card {
  display: flex;
  align-items: center;
}

.homePage__icon {
  display: flex;
  align-items: center;
}

.homePage__icon__loading {
  height: 16px;
  width: 16px;
  margin-right: 13px;
  cursor: pointer;
}

.homePage__close__card__activity {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  background-color: #eeecec;
  width: 28px;
  height: 28px;
}

.homePage__arrow__down {
  display: flex;
  height: 28px;
  margin-left: 2px;
  align-items: center;
  cursor: pointer;
}

.homePage__img__arrow__down {
  height: 10px;
  width: 10px;
  display: flex;
  margin-right: 3px;
  margin-top: 1px;
}

.homePage__card__activity__child {
  display: flex;
  height: 400px;
  background-color: white;
  box-shadow: 1px 3px 10px -2px #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
}

.homePage__container__label__card {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.homePage__label__activity {
  display: flex;
  align-items: center;
}

.homePage__card__child {
  display: flex;
  height: 265px;
  background-color: white;
  box-shadow: 1px 3px 10px -2px #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
}

.homePage__card__statistics__child {
  display: flex;
  height: 330px;
  background-color: white;
  box-shadow: 1px 3px 10px -2px #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
}

.homePage__card__document {
  margin-left: 23px;
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-right: 27px;
}
