.page-container {
  display: flex;
  height: 100%;
  background-color: #F8F9FF;
  color: black;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.sidebar {
  height: auto;
  width: 15%;
  padding: 24px;
  background: #09194C;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.header {
  display: flex;
  height: 90px;
  width: 82%;
  background-color: #FFFFFF;
}
.image {
  display: flex;
  align-items: center;
  width: 15%;
}
.text_manager {
  color: #64adf7;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 17px;
}

span#header {
  color: #252627;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(56, 55, 55);
  padding: 15px;
}

a:hover {
  border-bottom: 4px solid #017EFA;
  font-weight: bold;
}

.divHelp:hover {
  border-bottom: 4px solid #017EFA;
}

li {
  margin-bottom: 10px;
}

.circle {
  border-radius: 50%;
  background-color: #eeecec;
  width: 28px;
  height: 28px;
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-left: -15px;
}

.button {
  padding: 10px;
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 4px;
  background-color: #017EFA;
  color: white;
  border-radius: 6px;
  margin-bottom: 27px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

span#button_bold {
  font-weight: bold;
}

.accordion {
  background: #09194C;
  color: white;
  width: 100%;
  cursor: pointer;
  border: none;
  text-align: left;
  font-size: 15px;
  transition: 0.4s;
  display: flex;
  margin-top: 12px;
}

.accordion1 {
  background: #09194C;
  color: white;
  width: 100%;
  cursor: pointer;
  border: none;
  text-align: left;
  font-size: 15px;
  transition: 0.4s;
  display: flex;
  margin-bottom: 6px;
}

.accordion1:after {
  content: "\2192";
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: -2px;
  margin-right: 10px;
}

.help {
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: none;
  text-align: left;
  font-size: 15px;
  transition: 0.4s;
  display: flex;
}

.help:after {
  content: "\2192";
  font-weight: bold;
  width: 100%;
  margin-top: -2px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.accordion:first-child {
  margin-top: 5px;
}
.accordion1:first-child {
  margin-top: 5px;
}
.text:first-child {
  margin-top: 10px;
}
.text:last-child {
  margin-bottom: 0px;
}

.accordion1.active:after {
  content: "\2193";
}
.help.active:after {
  content: "\2193";
  margin-left: 10px;
}

.panel {
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel3 {
  padding: 0 18px;
  display: flex;
  position: absolute;
  background-color: rgb(241, 235, 224);
  top: 55px;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-top: 11px;
}

.panel3.active {
  margin-top: 100px;
}

.text_help {
  margin-top: 10px;
  cursor: pointer;
}
.text_help:last-child {
  margin-bottom: 10px;
}

.panel2 {
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
}

.text {
  display: flex;
  color: white;
  margin-bottom: 10px;
}

.text_bottom {
  color: white;
  margin-top: 10px;
  margin-left: 15px;
  cursor: pointer;
}

.hr {
  border: 1px solid #515c68;
}
