<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular Paligo</title>
</head>

<body>

  <div class="page-container">
    <!-- Sidebar -->
    <div class="sidebar">
      <button class="button"><span id="button_bold">+ Create Now</span></button>
      <p class="text_manager">Content Manager</p>
      <!-- <img style="width: 16px; height: 16px; margin-right: 10px;" src="./../../../assets/document.svg"> -->
      <!-- <img style="width: 16px; height: 16px; margin-right: 10px;" src="./../../../assets/folder.svg"> -->

      <div>
        <!-- Documents -->
        <button class="accordion1">Documents</button>
        <div class="panel">
          <p class="accordion" style="color: white;">Legal</p>
          <p style="color: white; cursor: pointer;" class="accordion">Documents</p>
          <div class="panel2">
            <p class="text">Draft 1</p>
            <p class="text">Draft 2</p>
            <p class="text">Draft 3</p>
          </div>
          <p style="color: white; cursor: pointer;" class="accordion">Terms And Conditions</p>
        </div>
        <hr class="hr">

        <!-- Media -->
        <button class="accordion1" style="margin-top: 11px;">Media</button>
        <div class="panel">
            <p class="text">Media 1</p>
            <p class="text">Media 2</p>
            <p class="text">Media 3</p>
        </div>
        <hr class="hr">

        <!-- Trash -->
        <button class="accordion1" style="margin-top: 11px;">Trash</button>
        <div class="panel">
            <p class="text">Trash 1</p>
            <p class="text">Trash 2</p>
            <p class="text">Trash 3</p>
        </div>
        <hr class="hr">

         <!-- Templates -->
         <button class="accordion1" style="margin-top: 11px;">Templates</button>
         <div class="panel">
             <p class="text">Templates 1</p>
             <p class="text">Templates 2</p>
             <p class="text">Templates 3</p>
         </div>
         <hr class="hr">

         <!-- Variable Sets -->
         <button class="accordion1" style="margin-top: 11px;">Variable Sets</button>
         <div class="panel">
             <p class="text">Variable Sets 1</p>
             <p class="text">Variable Sets 2</p>
             <p class="text">Variable Sets 3</p>
         </div>
         <hr class="hr">

         <!-- Taxonomies -->
         <button class="accordion1" style="margin-top: 11px;">Taxonomies</button>
         <div class="panel">
             <p class="text">Taxonomies 1</p>
             <p class="text">Taxonomies 2</p>
             <p class="text">Taxonomies 3</p>
         </div>

         <p class="text_bottom">Title One</p>
         <p class="text_bottom">Title Two</p>
         <p class="text_bottom">Title Three</p>
         <p class="text_bottom">Title Four</p>

      </div>
    </div>


    <!-- Header -->
    <div class="header">
      <div class="circle">
        <span style="display: flex; height: 26px; align-items: center; cursor: pointer;"><</span>
      </div>
      <div class="image">
        <img src="./../../../assets/paligo.png" style="height: 30px; width: 100px; display: flex; margin-left: 28%;">
      </div>
      <a href="/"><span id="header">Dashboard</span></a>
      <a href="#"><span id="header">Planner</span></a>
      <a href="#"><span id="header">Layout</span></a>
      <div class="divHelp"style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 10px;">
        <p class="help">Help</p>
        <div class="panel3">
          <p class="text_help">Help 1</p>
          <p class="text_help">Help 2</p>
          <p class="text_help">Help 3</p>
        </div>
      </div>


    </div>
  </div>

</body>

</html>
