*{
  padding: unset;
  margin: unset;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F8F9FF;
}

// ScrollBar
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: #F8F9FF;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(197, 197, 197);    /* color of the scroll thumb */
  border-radius: 12px;       /* roundness of the scroll thumb */
  border: 3px solid #F8F9FF;  /* creates padding around scroll thumb */
}
